---
title: Framer Motion Examples
topics:
  - react
  - animation
date: 2022-02-14
excerpt: Easy animation by framer motion
cover:
  # banner: https://www.framer.com/_next/image?url=%2Fimages%2Fteams%2FUI%402x.png&w=2820&q=96
  topic: React
  title: React
  subtitle: React Hooks
---

## Body

## Reference
