@import url('./article.css');
@import url('./prism-owl.css');
@import url('./react-notion-x.css');
@import url('./notion.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your default theme */
/* :root {
  --background: gray-100;
  --foreground: black;
}

[data-theme='dark'] {
  --background: black;
  --foreground: white;
} */

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-Regular.ttf');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-Medium.ttf');
  font-style: medium;
  font-weight: 500;
  font-display: swap;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Poppins, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

/* fix post reference links not wrap */
a,
p {
  word-break: break-word;
}

@layer base {
  body {
    @apply bg-white text-gray-900 dark:bg-gray-900 dark:text-gray-100;
    @apply transition duration-500;
    /* @apply overflow-hidden; */
  }

  ::selection {
    @apply bg-king-600 text-white;
  }
}

@layer utilities {
  .btn-layout {
    @apply flex items-center gap-2 rounded-full transition focus:outline-none focus:ring-2 focus:ring-offset-2 active:scale-95;
  }

  .btn-success {
    @apply border border-green-600 bg-transparent text-green-600 dark:border-green-400 dark:bg-transparent dark:text-green-400;
  }
  .btn-error {
    @apply border border-red-600 bg-transparent text-red-600 dark:border-red-400 dark:bg-transparent dark:text-red-400;
  }
}

@layer components {
  .btn-primary {
    @apply btn-layout;
    @apply py-2 px-6;
    @apply bg-gray-900 text-gray-100 ring-gray-900;
    @apply dark:bg-gray-100 dark:text-gray-900 dark:ring-gray-100;
    @apply hover:bg-king-400 hover:text-gray-900 focus:bg-king-400 focus:text-gray-900;
  }

  .btn-icon {
    @apply btn-layout;
    @apply border border-gray-900 text-gray-900 ring-gray-900;
    @apply dark:border-gray-100 dark:text-gray-100 dark:ring-gray-100;
    @apply hover:bg-king-400 hover:text-gray-900 focus:bg-king-400 focus:text-gray-900;
    @apply dark:hover:border-black;
  }

  .btn-secondary {
    @apply py-2 px-6;
    @apply btn-icon;
  }

  /* accent used only in footer section where it has colorful background */
  .btn-icon-accent {
    @apply btn-layout;
    @apply border border-gray-900 text-gray-900 ring-gray-900;
    @apply dark:border-gray-100 dark:text-gray-100;
    @apply hover:bg-gray-900 hover:text-king-400 focus:bg-gray-900 focus:text-king-400;
    @apply dark:hover:border-gray-900 dark:hover:text-king-400 dark:focus:text-king-400;
  }

  /* accent used only in footer section where it has colorful background */
  .btn-accent {
    @apply py-2 px-6;
    @apply btn-icon-accent;
  }
}
