/* use tailwind/typography instead */

.post {
  @apply container mx-auto mb-20 mt-12 w-[90%] md:w-[60%];
}

.post h1 {
  @apply my-6 text-4xl;
}

.post h2 {
  @apply my-6 text-3xl;
}

.post h3 {
  @apply my-6 text-2xl;
}

.post h4 {
  @apply my-6 text-xl;
}

.post p,
.post ul {
  @apply my-4 leading-7 text-gray-700;
}

:global(.dark) .post p,
:global(.dark) .post ul {
  @apply text-gray-300;
}

.post img {
  @apply my-4 w-full;
}

.post a {
  @apply text-queen-500 hover:text-queen-600;
}

.post p code {
  @apply text-red-500;
}

.post pre code {
  @apply rounded-lg;
}

/* call out */
.post blockquote {
  @apply relative rounded-md bg-green-600/10 px-4 py-2;
}
.post blockquote p {
  @apply text-green-700;
}
.post blockquote:before {
  @apply absolute w-1 bg-green-500;
  content: '';
  inset: 0;
  pointer-events: none;
}
:global(.dark) .post blockquote p {
  @apply text-green-300;
}
