/* https://github.com/PrismJS/prism-themes/blob/master/themes/prism-night-owl.css */
/* Light theme (default) */
code[class*='language-'],
pre[class*='language-'] {
  color: #403f53;
}

pre[class*='language-']::-moz-selection,
pre[class*='language-'] ::-moz-selection,
code[class*='language-']::-moz-selection,
code[class*='language-'] ::-moz-selection {
  text-shadow: none;
  background: rgba(173, 219, 103, 0.3);
}

pre[class*='language-']::selection,
pre[class*='language-'] ::selection,
code[class*='language-']::selection,
code[class*='language-'] ::selection {
  text-shadow: none;
  background: rgba(173, 219, 103, 0.3);
}

@media print {
  code[class*='language-'],
  pre[class*='language-'] {
    text-shadow: none;
  }
}

/* Code blocks */
@media screen and (min-width: 640px) {
  pre[class*='language-'] {
    padding: 2em;
  }
}
pre[class*='language-'] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  color: #403f53;
  background: #fafafa;
  border: 1px solid #e5e7eb;
}

:not(pre) > code[class*='language-'] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

/* Light theme token colors */
.token.comment,
.token.prolog,
.token.cdata {
  color: #989fb1;
  font-style: italic;
}

.token.punctuation {
  color: #5e6687;
}

.namespace {
  color: #7c73c0;
}

.token.deleted {
  color: #c94922;
  font-style: italic;
}

.token.symbol,
.token.property {
  color: #0c969b;
}

.token.tag,
.token.operator,
.token.keyword {
  color: #c76b29;
}

.token.boolean {
  color: #aa5d00;
}

.token.number {
  color: #aa5d00;
}

.token.constant,
.token.function,
.token.builtin,
.token.char {
  color: #3d8fd1;
}

.token.selector,
.token.doctype {
  color: #6679cc;
  font-style: italic;
}

.token.attr-name,
.token.inserted {
  color: #22a2c9;
  font-style: italic;
}

.token.string,
.token.url,
.token.entity,
.language-css .token.string,
.style .token.string {
  color: #22a2c9;
}

.token.class-name,
.token.atrule,
.token.attr-value {
  color: #c76b29;
}

.token.regex,
.token.important,
.token.variable {
  color: #c76b29;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

/* Dark theme (when .dark class is present) */
.dark code[class*='language-'],
.dark pre[class*='language-'] {
  color: #d6deeb;
}

.dark pre[class*='language-']::-moz-selection,
.dark pre[class*='language-'] ::-moz-selection,
.dark code[class*='language-']::-moz-selection,
.dark code[class*='language-'] ::-moz-selection {
  text-shadow: none;
  background: rgba(29, 59, 83, 0.99);
}

.dark pre[class*='language-']::selection,
.dark pre[class*='language-'] ::selection,
.dark code[class*='language-']::selection,
.dark code[class*='language-'] ::selection {
  text-shadow: none;
  background: rgba(29, 59, 83, 0.99);
}

.dark :not(pre) > code[class*='language-'],
.dark pre[class*='language-'] {
  color: white;
  background: #000000;
  border: none;
}

.dark .token.comment,
.dark .token.prolog,
.dark .token.cdata {
  color: rgb(99, 119, 119);
  font-style: italic;
}

.dark .token.punctuation {
  color: rgb(199, 146, 234);
}

.dark .namespace {
  color: rgb(178, 204, 214);
}

.dark .token.deleted {
  color: rgba(239, 83, 80, 0.56);
  font-style: italic;
}

.dark .token.symbol,
.dark .token.property {
  color: rgb(128, 203, 196);
}

.dark .token.tag,
.dark .token.operator,
.dark .token.keyword {
  color: rgb(127, 219, 202);
}

.dark .token.boolean {
  color: rgb(255, 88, 116);
}

.dark .token.number {
  color: rgb(247, 140, 108);
}

.dark .token.constant,
.dark .token.function,
.dark .token.builtin,
.dark .token.char {
  color: rgb(130, 170, 255);
}

.dark .token.selector,
.dark .token.doctype {
  color: rgb(199, 146, 234);
  font-style: italic;
}

.dark .token.attr-name,
.dark .token.inserted {
  color: rgb(173, 219, 103);
  font-style: italic;
}

.dark .token.string,
.dark .token.url,
.dark .token.entity,
.dark .language-css .token.string,
.dark .style .token.string {
  color: rgb(173, 219, 103);
}

.dark .token.class-name,
.dark .token.atrule,
.dark .token.attr-value {
  color: rgb(255, 203, 139);
}

.dark .token.regex,
.dark .token.important,
.dark .token.variable {
  color: rgb(214, 222, 235);
}
